.co-search-result {
  padding: 5px 5px 5px 13px;
}

.co-search-result:hover{
  background-color: $background-color;
  color: white;
}

.co-search-result-onClick {
  background-color: $background-color;
  color: white;
}